/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #cc241d !default;
$red-color-dark: #9d0006 !default;
$orange-color: #d65d0e !default;
$blue-color: #458588 !default;
$blue-color-dark: #076678 !default;
$cyan-color: #8ec07c !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #98971a !default;
$green-color-lime: #b8bb26 !default;
$green-color-dark: #79740e !default;
$green-color-light: #ddffdd !default;
$green-color-bright: #b8bb26 !default;
$purple-color: #b16286 !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #d3869b !default;
$pink-color-light: #ffdddd !default;
$yellow-color: #d79921 !default;

$grey-color: #928374 !default;
$grey-color-light: #ebdbb2 !default;
$grey-color-dark: #282828 !default;
$grey-900: #212529;

$white-color: #fbf1c7 !default;
$black-color: #1d2021 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #3c3836 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
